In [97]:
import numpy as np
import pandas as pd
import itertools

In [113]:
elements = np.arange(0., 1+.1, .1)
elements

array([ 0. ,  0.1,  0.2,  0.3,  0.4,  0.5,  0.6,  0.7,  0.8,  0.9,  1. ])

In [130]:
l = list(itertools.product(elements, repeat=2))
df = pd.DataFrame(l, columns=['a', 'b'])
df[df.sum(1) == 1]

       a    b
10   0.0  1.0
20   0.1  0.9
30   0.2  0.8
40   0.3  0.7
50   0.4  0.6
60   0.5  0.5
70   0.6  0.4
80   0.7  0.3
90   0.8  0.2
100  0.9  0.1
110  1.0  0.0

In [142]:
df = pd.DataFrame(list(itertools.combinations(elements, 3)), columns=['a', 'b', 'c'])
df[df.sum(1) == 1]

      a    b    c
7   0.0  0.1  0.9
14  0.0  0.2  0.8
20  0.0  0.3  0.7
25  0.0  0.4  0.6
49  0.1  0.2  0.7
55  0.1  0.3  0.6
60  0.1  0.4  0.5
82  0.2  0.3  0.5