In [1]:
import numpy as np
import pandas as pd
import itertools

In [7]:
nanarray = np.full([4, 4],np.NaN)

In [59]:
nandf = pd.DataFrame(nanarray, columns=list('abcd'))

In [17]:
np.full_like(nandf, np.NaN)

array([[ nan,  nan,  nan,  nan],
       [ nan,  nan,  nan,  nan],
       [ nan,  nan,  nan,  nan],
       [ nan,  nan,  nan,  nan]])

In [19]:
np.empty([2, 2])

array([[  0.00000000e+000,   4.94065646e-324],
       [  9.88131292e-324,   1.48219694e-323]])

In [60]:
nandf

    a   b   c   d
0 NaN NaN NaN NaN
1 NaN NaN NaN NaN
2 NaN NaN NaN NaN
3 NaN NaN NaN NaN

In [65]:
nandf.columns

Index([u'a', u'b', u'c', u'd'], dtype='object')

In [69]:
np.pv(0.1, -5000, 5*12)

5.5154003394446189e+209